

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');
h1 , h2 , h3 , h4 , h5 , h6 , p , a , tr , th , td , thead , tbody , li , ul , span	, input , label , button , div , span  {

	    font-family: 'Cairo', sans-serif;
	    font-weight: bold !important;
}


label {
	font-size: 15px;
}




table thead th {
	background-color: #1abc9c !important;
}

.bg-dark {

	background-color: #1abc9c !important;
}

