/*@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
tr,
th,
td,
thead,
tbody,
li,
ul,
span,
input,
label,
button,
div,
p,
span {
    /*    font-family: 'Tajawal', sans-serif !important;*/
}

.navbar-brand img {
    height: auto;
    max-height: 30px;
    filter: brightness(0) invert(1);
}

.navbar-expand-md .navbar-brand {
    min-width: 17% !important;
    margin: 0 !important;
    padding: 8px 0;
}

.sidebar-expand-md.sidebar-main {
    margin: 0;
}

.page-content {
    padding: 0;
}

.sidebar-light .nav-sidebar>.nav-item-open>.nav-link:not(.disabled),
.sidebar-light .nav-sidebar>.nav-item>.nav-link.active {
    background: #009BA5;
    color: #fff;
}

.content-wrapper .page-header {
    background-color: #fff;
    border-bottom: none;
}

.sidebar .card {
    border: none !important;
}

.page-title h4 i {
    color: #009BA5;
}

.page-title {
    padding: 0;
}

.content-wrapper .content .card.card-body {
    padding: 25px;
    border-radius: 10px;
    margin: 0 0 15px;
}

#container {
    padding: 25px;
    background: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    border-radius: 10px;
    border: 1px solid #f1f1f1;
}

.content-wrapper .content .card {
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    /* min-height: 310px; */
    margin: 15px 0;
}

.sidebar-expand-md.sidebar-main .sidebar-content {
    min-height: 100vh;
}

.sidebar-expand-md.sidebar-main {
    height: 100%;
    position: relative;
}

.content-wrapper .content .card .card-header {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 15px 0;
}

.content-wrapper .content .card .card-body {
    padding: 10px 0;
}

.content-wrapper .content .card .card-body .media-list li a {
    color: #009BA5;
    font-size: 16px;
}

.media-list img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px #009BA5 solid;
}

.media-list .media {
    align-items: center;
}

html[dir="ltr"] body {
    direction: ltr;
    text-align: start;
}

html[dir="ltr"] .nav.nav-sidebar {
    padding: 0;
    overflow: hidden;
}

html[dir="ltr"] .mr-3 {
    margin-left: 0 !important;
    margin-right: 1.25rem !important;
}

html[dir="ltr"] .nav-sidebar .nav-link i {
    margin-left: 0;
    margin-right: 1.25rem;
}

html[dir="ltr"] .nav-item-submenu>.nav-link {
    padding-left: 1.25rem;
    padding-right: 2.75rem;
    display: block;
}

html[dir="ltr"] .nav-item-submenu>.nav-link:after {
    left: auto;
    right: 1.25rem;
    transform: scaleX(-1);
}

.sidebar-light .nav-sidebar .nav-item-header {
    width: 100%;
    display: block;
}

.nav-sidebar .nav-link span {
    display: inline-flex;
    width: calc(100% - 35px);
    overflow: hidden;
    font-size: 12px;
}

html[dir="ltr"] .dropdown-toggle::after {
    margin-right: 0;
    margin-left: .46875rem;
}

html[dir="ltr"] .mr-2,
html[dir="ltr"] .mx-2 {
    margin-left: 0 !important;
    margin-right: .625rem !important;
}

html[dir="ltr"] .dropdown-header>i,
html[dir="ltr"] .dropdown-header>img,
html[dir="ltr"] .dropdown-item>i,
html[dir="ltr"] .dropdown-item>img {
    margin-left: 0;
    margin-right: 1rem;
}

.dropdown-header>i,
.dropdown-header>img,
.dropdown-item>i,
.dropdown-item>img {
    max-width: 21px;
}

.media-list .media .btn.btn-icon {
    background: #009BA5;
}

.media-list .media .media-body .font-size-sm {
    font-size: 10px;
}

.text-grey {
    color: #777;
}

.text-grey:hover,
.text-grey:focus {
    color: #009BA5;
}

a {
    transition: all .5s;
}

.dropdown-content-footer .text-grey {
    font-size: 12px;
}

.navbar-nav .dropdown-menu {
    min-width: 100%;
    padding: 0;
}

.navbar-nav {
    height: 100%;
}

.navbar-nav .navbar-nav-link {
    height: 100%;
    display: flex !important;
    align-items: center;
}

.navbar-nav .navbar-nav-link .img-flag {
    display: inline-flex;
    vertical-align: middle;
    align-self: auto;
}

.navbar-nav-link .badge-mark {
    top: 28%;
    transform: translateY(-28%);
}

.nav-sidebar .nav-link i {
    width: 38px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.dropdown-toggle::after {
    /* display: inline-flex; */
    /* top: -5px; */
}

.btn.btn-primary {
    background: #009BA5;
    margin: 20px 0 0;
    border-radius: 50px;
    border: 1px #009BA5 solid;
    color: #fff;
    transition: all .5s;
    padding: 5px 15px;
    font-size: 11px !important;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background: #009BA5;
    color: #fff;
}

.content-wrapper .content .tables-body .card {
    /* padding: 0; */
    /*
    overflow: hidden;
    overflow-y: auto;
    max-height: 455px;
*/
    /* padding-left: 20px; */
}

.tables-body .bg-dark th {
    border-color: #3fd4b6;
}

.tables-body .bg-dark th,
.tables-body tr td {
    padding: 7px;
    font-size: 12px;
    vertical-align: middle;
    font-family: auto;
}

.tables-body tr td {
    padding: 5px;
    font-size: 10px;
}

.tables-body tr td .img-thumbnail {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    /* background: #009BA5; */
    padding: 0;
    border-width: 1px;
}

.tables-body tr:nth-child(odd) {
    /* background: #f1f1f1; */
}

.tables-body table .delete_branch.btn.btn-outline.bg-danger.border-danger:not(:hover):not(:active):not(.active):not([aria-expanded=true]),
.tables-body table .delete_branch.btn.btn-outline.bg-danger.border-danger {
    background-color: #f44336 !important;
    color: #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.tables-body table .delete_branch:not(:hover):not(:active):not(.active):not([aria-expanded=true]) i,
.tables-body table .delete_branch i {
    font-size: 12px;
}

.tables-body table .btn.alpha-warning {
    background: green;
    border-color: green !important;
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 5px !important;
}

.tables-body table .btn.alpha-warning i {
    font-size: 12px;
}

.tables-body table .btn.btn-outline.bg-primary,
.tables-body table .btn.btn-outline.bg-primary:not(:hover):not(:active):not(.active):not([aria-expanded=true]) {
    border-color: #009BA5 !important;
    background: #009BA5 !important;
    color: #fff;
    width: 28px;
    height: 28px;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.tables-body table .btn.btn-outline.bg-primary i,
.tables-body table .btn.btn-outline.bg-primary:not(:hover):not(:active):not(.active):not([aria-expanded=true]) i {
    font-size: 12px;
    height: 10px;
}

tr.collapse .float-left {
    /* float: none !important; */
}

.tables-body tr.collapse td {
    padding: 16px;
}

.tables-body.table-inner .card {
    margin: 10px 0;
}

.tables-body.table-inner .card .card-header {
    padding: 15px;
}

.content-wrapper .content .tables-body .card td {
    padding: 5px;
    /* text-align: start !important; */
    text-align: center !important;
    justify-content: center;
    border: 1px #ddd solid !important;
    font-weight: normal !important;
    color: #000 !important;
    border-inline-end: 0 !important;
    border-bottom: 0 !important;
}

.tables-body.table-inner .card .card-body {
    padding: 0;
}

.tables-body.table-inner .card .card-body th,
.tables-body.table-inner .card .card-body td {
    border-color: #e4f9f5;
    font-size: 11px;
    padding: 8px;
}

.content-wrapper .content .tables-body.great-page .card .card-body {
    padding: 0 10px 10px;
}

.content-wrapper .content .tables-body.great-page .card .card-body legend .text-primary {
    font-size: 20px;
    color: #333 !important;
}

.form-group {
    margin: 2px 0;
    font-size: 11px;
    font-weight: normal !important;
    color: #009ba5;
}

.form-group label {
    font-size: 11px;
    font-weight: normal !important;
    color: #808080;
    margin-bottom: 5px;
}

.form-control {
    height: 33px !important;
    padding: 0 10px;
    font-size: 11px;
}

.form-control:focus {
    border-color: #009BA5 !important;
}

.form-group .img-thumbnail {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    padding: 0;
}

.content-wrapper .content .tables-body.great-page .card .card-body legend {
    padding: 15px 0;
}

.form-group .btn.btn-default {
    background: #009BA5;
    color: #fff;
    border-radius: 50px;
    margin: 0 10px;
    height: 28px;
    line-height: 27px;
    padding: 0 10px;
    font-size: 12px;
}

.form-group .btn.btn-primary {
    margin: 0;
    min-width: 100px;
}

.items-container.col-12.tBody {
    align-items: center;
}

.items-container .ml-3 {
    align-items: center;
    display: inline-flex;
}

.items-container .ml-3 #addRow,
.items-container .ml-3 .deleteRow {
    font-size: 15px;
    color: #009BA5;
}

.items-container .ml-3 .deleteRow {
    color: #117b66;
}

.tables-body .form-check.form-check-switchery.mt-4 {
    margin-top: 14% !important;
}

.great-page .form-check.form-switch .form-check-label input {
    right: 0;
}

.title {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 15px;
    color: #666;
}

.col-md-12.mb-3.title-0 {
    margin: 0 !important;
}

.login-page {
    display: flex;
    width: 60%;
    margin: auto;
    background: #fff;
    padding: 60px 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0 0 0 / 26%);
    align-items: center;
}

.login-page .img-login img {
    max-width: 100%;
}

.login-page i.icon-store2 {
    display: none;
}

.login-page .card-body {
    padding: 30px !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%) !important;
    border: none;
    border-radius: 10px;
}

.login-page .card-body h5 {
    font-size: 15px;
    color: #009BA5;
}

.login-page .card {
    border: none !important;
    padding: 0 !important;
}

.login-page .card-body .d-block.text-muted {
    font-size: 11px;
    margin-top: 10px;
    color: #666;
}

.login-page .card-body .form-group {
    margin: 12px 0;
}

.login-page .card-body .form-group .form-control-feedback {
    background: #009BA5;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 0 5px 5px 0;
}

.login-page .card-body .form-group .form-control-feedback .text-muted {
    color: #fff !important;
}

.login-page .card-body .form-group .form-control {
    height: 40px;
    border-radius: 5px;
}

.login-page .card-body .form-group .btn {
    height: 40px;
    background: #009ba5;
    color: #fff;
}

.login-page .card-body .text-center a {
    color: #777;
    font-size: 11px;
}

.navbar-dark {
    background: #009ba5;
}

.tables-body .bg-dark th {
    background: #009ba5 !important;
    border-color: #08a9b3;
}


/*
.content-wrapper .content .tables-body .card::-webkit-scrollbar {
    width: 5px;
}

.content-wrapper .content .tables-body .card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content-wrapper .content .tables-body .card::-webkit-scrollbar-thumb {
    background-color: rgb(0 155 165 / 30%);
    outline: 1px solid slategrey;
}
*/

.card .bg-dark,
.bg-dark {
    background: #fff !important;
    color: #009ba5 !important;
}

.pro-inner-h {
    display: flex;
    padding: 20px;
}

.pro-inner-h .img-pro {
    width: 23%;
    text-align: center;
    margin-left: 20px;
}

.pro-inner-h table.table {
    width: 85%;
    border: 1px #f1f1f1 solid !important;
}

.pro-inner-h .img-pro .text-right.text-muted img {
    border-radius: 0 !important;
    background: transparent;
}

.pro-inner-h .img-pro .font-weight-semibold {
    margin-top: 20px;
    font-size: 15px;
    color: #009ba5;
    opacity: 0;
}

.profile-page {
    padding-top: 25px;
    display: block !important;
}

.profile-page .sidebar.sidebar-light {
    min-width: auto !important;
    background: transparent;
    /* width: 160px; */
    /* height: 160px; */
    /* border-radius: 50%; */
    /* overflow: hidden; */
    /* border: 2px #ccc solid !important; */
    margin: auto;
    line-height: normal !important;
}

.profile-page .sidebar.sidebar-light .sidebar-content {
    top: 0;
    height: 100% !important;
    width: 100%;
}

.profile-page .sidebar.sidebar-light .sidebar-content .card {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
}

.profile-page .sidebar.sidebar-light .sidebar-content .card .card-body.card-img-top {
    padding: 0;
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
    background: transparent !important;
}

.card-img-actions.d-inline-block.mb-3 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px #009ba5 solid !important;
    margin-bottom: 10px !important;
    margin: 0 !important;
}

.profile-page .sidebar.sidebar-light .sidebar-content .card .card-body.card-img-top h6.font-weight-semibold.mb-0 {
    font-size: 15px;
    color: #009ba5;
}

.card-img-actions.d-inline-block.mb-3 .img-thumbnail {
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.uniform-uploader .btn.bg-warning {
    background: #c3a32e !important;
}

button.btn.btn-warning {
    background: #009ba5;
}

.content-wrapper .content .tables-body.great-page.profile-page .tab-content .card-body {
    padding-bottom: 40px;
}

.filtter-order {
    margin: 10px 0 0;
    background: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px #ddd solid;
}

.filtter-order .form-group {
    margin: 2px 0;
}

.filtter-order .form-group label {
    font-size: 11px;
    margin: 0 0 5px;
}

.filtter-order .form-group .form-control {
    height: 30px !important;
    line-height: 35px !important;
    padding: 0 13px;
    font-size: 10px;
}

.filtter-order .row {
    align-items: center;
}

.filtter-order .btn.btn-reset {
    border: 1px #009ba5 solid;
    border-radius: 50px;
    min-height: 30px;
    padding: 0 20px;
    font-size: 10px;
    background: #fff;
    color: #009ba5;
    margin: 0 4px;
}

.filtter-order .btn {
    border-radius: 50px;
    min-height: 30px;
    padding: 0 20px;
    font-size: 10px;
    background: #009ba5;
    color: #fff;
    min-width: 90px;
}

.sidebar-light .nav-sidebar .nav-link {
    max-\height: 44px;
    align-items: center;
}

.nav-sidebar .nav-item:not(.nav-item-header):first-child {
    padding: 0;
}

body {
    background: #fff;
}

.card-body {
    padding: 10px 5px;
}

.content br {
    display: none;
}

.tables-body .bg-dark th {
    background: #fff !important;
    color: #444;
    border: 1px #eaeaea solid !important;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 10px;
}

.tables-body tbody td {
    text-align: center !important;
    justify-content: center;
    border: 1px #ddd solid !important;
    font-weight: normal !important;
    color: #000 !important;
}

.dropdown-menu.dropdown-content {
    left: 0 !important;
    right: auto !important;
}

.tab-pane .card-body {
    width: 100%;
}

.tab-content>.tab-pane {
    width: 100%;
}

.tab-content {
    width: 100%;
    padding: 0 10px 20px;
    border: 1px #ddd solid;
    overflow: hidden;
}

.nav.nav-pills {
    margin: 10px 0 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: transparent;
    color: #009ba5;
}

.nav-pills .nav-link {
    border: 1px #d3d7d8 solid;
    margin: 0 2px;
    border-radius: 0;
    border-bottom: 0;
    font-size: 11px;
    padding: 10px;
    color: #d3d7d8;
}

.tab-content>.tab-pane legend {
    display: none;
}

select.form-control.multiselect {
    height: 120px !important;
}

.btns-group {
    justify-content: flex-end;
    display: flex;
}

.sidebar-light .nav-sidebar .nav-link img {
    max-width: 16px;
    /* margin-left: 15px; */
    max-height: 18px;
}

.row .col-md-12.mb-3:first-child a.btn.btn-primary.float-right {
    display: none;
    margin: 0 !important;
}

.row:first-child.col-md-12.mb-3 {
    margin: 0 !important;
}


/* RADIOS & CHECKBOXES STYLES */


/* SOURCE: https://gist.github.com/dciccale/1367918 */


/* No more blue blur border */

input {
    outline: none;
}


/* base styles */

input[type="radio"],
input[type="checkbox"] {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 0 0.4em 0.4em 0;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #AAAAAA;
    -webkit-appearance: none;
}


/* SWITCH STYLES */


/* SOURCE: https://proto.io/freebies/onoff/ */

.onoffswitch {
    position: relative;
    width: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 0;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    height: 20px;
    margin: 0;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-right: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: right;
    width: 50%;
    height: 22px;
    padding: 0;
    line-height: 22px;
    font-size: 12px;
    color: black;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-right: 6px;
    background-color: #63ab64;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 6px;
    background-color: #E85764;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 14px;
    margin: 5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 19px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    height: 14px;
    margin: auto;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    /* margin-left: 0; */
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    left: 3px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-right: 0;
}

.mb-3,
.my-3 {
    margin-bottom: 10px !important;
}

.logo-d {
    display: flex !important;
}

.logo-d h3 {
    margin: 0 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.nav-group-sub li {
    display: list-item;
    list-style: disc;
}

.nav-group-sub {
    list-style: circle;
    padding-right: 75px;
}

.nav-group-sub .nav-link {
    padding: 6px 0;
}

.sidebar-light .nav-sidebar .nav-group-sub .nav-link {
    height: auto;
}

.sidebar-light .nav-sidebar .nav-group-sub .nav-link:not(.disabled):hover {
    border: none !important;
    background: none !important;
    color: #009ba5;
}

.tables-body tbody td .onoffswitch {
    margin: auto;
    /* top: 6px; */
    height: 20px;
}

.page-title h1,
.page-title h2,
.page-title h3,
.page-title h4,
.page-title h5,
.page-title h6 {
    color: #009ba5;
}

.table,
.card>.table:last-child,
.card>[class*=table-responsive]:last-child>.table:last-child,
.card>.table:first-child,
.card>[class*=table-responsive]:first-child>.table:first-child {
    border-radius: 0 !important;
}

.card>.table:first-child tbody:first-child tr:first-child td:last-child,
.card>.table:first-child tbody:first-child tr:first-child th:last-child,
.card>.table:first-child thead:first-child tr:first-child td:last-child,
.card>.table:first-child thead:first-child tr:first-child th:last-child,
.card>[class*=table-responsive]:first-child>.table:first-child tbody:first-child tr:first-child td:last-child,
.card>[class*=table-responsive]:first-child>.table:first-child tbody:first-child tr:first-child th:last-child,
.card>[class*=table-responsive]:first-child>.table:first-child thead:first-child tr:first-child td:last-child,
.card>[class*=table-responsive]:first-child>.table:first-child thead:first-child tr:first-child th:last-child {
    border-top-left-radius: 0 !important;
}

.card>.table:first-child tbody:first-child tr:first-child,
.card>.table:first-child thead:first-child tr:first-child,
.card>[class*=table-responsive]:first-child>.table:first-child tbody:first-child tr:first-child,
.card>[class*=table-responsive]:first-child>.table:first-child thead:first-child tr:first-child {
    border-radius: 0 !important;
}

.card>.table:first-child tbody:first-child tr:first-child td:first-child,
.card>.table:first-child tbody:first-child tr:first-child th:first-child,
.card>.table:first-child thead:first-child tr:first-child td:first-child,
.card>.table:first-child thead:first-child tr:first-child th:first-child,
.card>[class*=table-responsive]:first-child>.table:first-child tbody:first-child tr:first-child td:first-child,
.card>[class*=table-responsive]:first-child>.table:first-child tbody:first-child tr:first-child th:first-child,
.card>[class*=table-responsive]:first-child>.table:first-child thead:first-child tr:first-child td:first-child,
.card>[class*=table-responsive]:first-child>.table:first-child thead:first-child tr:first-child th:first-child {
    border-top-right-radius: 0 !important;
}

.content-wrapper .content .card .card-body table.table {
    margin: 0 !important;
}

.sidebar-light .nav-sidebar .nav-link .icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #f1f1f1;
    display: inline-flex;
    transition: all .5s;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    margin-left: 12px;
    transition: all .5s;
}

textarea.form-control {
    height: 50px !important;
    padding: 10px;
}

select[multiple] option,
select[size] option {
    padding: 2px 0;
}

.sidebar-light .nav-sidebar>.nav-item-open>.nav-link:not(.disabled) .icon,
.sidebar-light .nav-sidebar>.nav-item>.nav-link.active .icon {
    background: #03aeb9;
}

.sidebar-light .nav-sidebar>.nav-item-open>.nav-link:not(.disabled) .icon img,
.sidebar-light .nav-sidebar>.nav-item>.nav-link.active .icon img {
    filter: brightness(0) invert(1);
}

table .float-left .btn,
table .float-left .btn.alpha-warning {
    min-width: 60px;
    font-size: 8px;
    font-weight: normal !important;
    border: 1px #ddd solid !important;
    display: flex;
    margin: 0 2px!important;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #777;
    border-radius: 2px;
    background: #fff;
    width: auto;
    height: 25px;
    padding: 0;
    margin: 2px !important;
}

table .float-left .btn i {
    width: 25px;
    font-size: 12px;
}

table .float-left .btn:hover,
table .float-left .btn:focus {
    background: #009ba5;
    color: #fff;
}

table .float-left .btn.alpha-warning i {
    color: #2dca2d;
}

table .float-left .delete_branch.btn i {
    color: #e85a5a;
}

.content-wrapper .content .tables-body .card td .float-left {
    float: none !important;
    display: flex;
}

.content-wrapper .content .tables-body .card td .float-left.flex-d {
    display: flex;
}

.content-wrapper .content .tables-body .card td .float-left.flex-d .btn {
    margin: 0 2px !important;
    height: 28px;
    min-width: 80px;
    padding: 0 10px !important;
}

.sidebar {
    width: 18%;
}

.tableNew {
    border-radius: 10px !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

.dataTable thead .sorting:before,
.dataTable thead .sorting_asc:after {
    display: none;
}

.dataTable thead .sorting:after {
    display: none;
}

thead:first-child tr:first-child th:first-child {
    border-top-right-radius: 8px;
}

thead:first-child tr:first-child th:last-child {
    border-top-left-radius: 8px;
}

tbody tr:last-child th:first-child {}

.card>.dataTables_wrapper .table-bordered>tbody>tr:last-child>td:first-child {
    border-bottom-right-radius: 8px;
}

.card>.dataTables_wrapper .table-bordered>tbody>tr:last-child>td:last-child {
    border-bottom-left-radius: 8px;
}

.table thead:first-child tr:first-child th {
    border-bottom: 0 !important;
    border-inline-end: 0 !important;
}

.card>.dataTables_wrapper .table-bordered>tbody>tr>td {
    border-left: 0 !important;
    border-bottom: 0 !important;
}

.card>.dataTables_wrapper .table-bordered>tbody>tr>td:last-child {
    border-left: 1px #ddd solid !important;
}

.card>.dataTables_wrapper .table-bordered>tbody>tr:last-child td {
    border-bottom: 1px #ddd solid !important;
}

.card>.dataTables_wrapper .table-bordered>tbody>tr:first-child td {
    border-top: 0 !important;
}

.dataTables_wrapper .dataTables_paginate {
    margin-inline-start: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    font-size: 10px;
    font-weight: normal;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 4px;
    border: none !important;
    background: none !important;
    font-weight: normal !important;
}

.btn-bottom {
    float: right;
    display: flex;
}

.btn-bottom button {
    margin-inline-end: 0;
    border: 1px #d1d1d1 solid;
    background: none;
    min-width: 60px;
    min-height: 28px;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
    font-weight: normal !important;
    font-size: 12px;
    outline: none !important;
}

.btn-bottom button.csv-btn {
    color: #61767f;
}

.btn-bottom button i {
    font-size: 10px;
    margin-inline-end: 6px;
}

.btn-bottom button.xls-btn {
    color: #009BA5;
}

.dataTables_filter {
    float: left !important;
}

.dataTables_wrapper .dataTables_filter input {
    margin: 0;
    margin-inline-start: 10px;
    border: 1px #e9e9e9 solid;
    border-radius: 8px;
    height: 38px;
    color: #000;
    padding-inline-end: 35px;
}

.dataTables_filter>label {
    color: #fff;
}

.dataTables_filter>label:after {
    color: gray;
}

.content-wrapper .content .card.form-creat .form-group {
    align-items: center;
    margin: 10px 0;
}

.form-group label.onoffswitch-label {
    margin: 0;
}

.breadcrumb .btn.btn-primary {
    margin: 0;
}

.page-header-content.header-elements-md-inline {
    align-items: center;
    padding: 10px 0;
}

.page-header-content.header-elements-md-inline .header-elements {
    margin: 0 !important;
}

.content-wrapper .content .card.form-creat .form-group label {
    font-size: 12px;
}

.content-wrapper .content .card.form-creat .row {
    align-items: center;
}

.content-wrapper .content .card.form-creat .form-group.btns-form {
    justify-content: flex-end;
    display: flex;
}

.content-wrapper .content .card.form-creat {
    position: relative;
}

.content-wrapper .content .card.form-creat::before {
    content: "";
    position: absolute;
    right: 33%;
    top: 0;
    bottom: 0;
    border-right: 1px #eee solid;
}

.content-wrapper .content .tables-body .card td .name-table {
    font-weight: normal !important;
}

.content-wrapper .content .tables-body .card td span {
    font-weight: normal !important;
    display: block;
}

.content-wrapper .content .tables-body .card td .order-time {
    font-weight: normal !important;
}

.content-wrapper .content .tables-body .card td .info-span {
    background: #9672b7;
    display: flex;
    color: #fff;
    text-decoration: none;
    min-height: 23px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    max-width: 50px;
    margin: auto;
}

.content-wrapper .content .tables-body .card td .float-left.flex-none {
    display: block;
}

.btn-top .btn.btn-primary.float-left {
    margin-inline-start: auto;
    display: flex;
    float: none !important;
    margin-top: 10px;
}

.margin-small .card {
    margin-top: 0px !important;
}

.tables-body .bg-dark th br {
    display: block;
}

.search-none .dataTables_wrapper .dataTables_filter {
    display: none;
}

.table thead:first-child tr:first-child th:last-child {
    border-inline-end: 1px #eaeaea solid !important;
}

.content-wrapper .content .tables-body .card td:last-child {
    border-left: 1px #ddd solid !important;
}

.details-img {
    display: flex;
}

.details-img .img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    /* border-radius: 50%; */
    border: 1px #ccc solid;
    padding: 2px;
}

.details-img .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.details-img .details {
    width: calc(100% - 50px);
    padding-inline-start: 12px;
}

.details-img .details h3 {
    font-size: 12px;
    margin: 0;
}

.details-img .details ul {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.details-img .details ul li {
    list-style: none;
    font-size: 11px;
    line-height: 1.5;
    color: #444;
    font-weight: normal !important;
    margin: 2px 0;
}

.details-pill {
    display: flex;
    justify-content: flex-end;
}

.details-pill .details ul {
    padding: 0;
    margin: 0;
}

.details-pill .details ul li {
    list-style: none;
    font-size: 11px;
    line-height: 1.5;
    color: #444;
    font-weight: normal !important;
    margin: 0;
}

.view-content {}

.view-top {
    padding-bottom: 30px;
}

.view-content h4,
.view-content h3 {
    font-size: 15px;
    color: #969699;
    font-weight: normal !important;
}

.content-wrapper .content .card .card-body .view-content table.table.table-thr {
    margin: 30px 0 !important;
}

.tables-body.table-inner .card .card-body .view-content th,
.tables-body.table-inner .card .card-body .view-content td {
    border: 1px #e2e0e0 solid !important;
    padding: 7px;
    text-align: start !important;
    background: transparent !important;
}

.tables-body.table-inner .card .card-body .view-content td .img {
    width: 28px;
    height: 28px;
    overflow: hidden;
    margin: auto;
}

.tables-body.table-inner .card .card-body .view-content th:nth-child(3) {
    text-align: center !important;
}

.tables-body.table-inner .card .card-body .view-content td .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.tables-body.table-inner .card .card-body .view-content .total-table th,
.tables-body.table-inner .card .card-body .view-content .total-table td {
    color: #009ba5 !important;
    font-weight: bold !important;
    font-size: 12px;
}

.select2-container--default .select2-selection--single {
    padding: 0;
}

.select2-search--dropdown:after {
    right: auto;
    left: 15px;
}

.select2-results__option {
    font-size: 9px;
    font-weight: normal !important;
    padding: 4px 7px;
}

.select2-container--default .select2-results>.select2-results__options {
    padding: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #009ba5;
}

.select2-search--dropdown .select2-search__field {
    height: 25px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 10px;
    font-weight: normal !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    color: #009ba5;
}

.btn-bottom button span {
    font-weight: normal !important;
}

.breadcrumb .btn.btn-primary img {
    max-width: 15px;
    filter: brightness(0)invert(1);
    max-height: 14px;
    margin-inline-end: 4px;
}

table .float-left .btn:focus {
    color: #777;
}

.tab-content .form-group {
    padding: 8px;
    /* align-items: inherit !important; */
    border: 1px #f5f5f5 solid;
    margin: 0;
}

.tab-content .form-group input.btn.btn-primary {
    display: table;
    margin-inline-start: auto;
    margin-top: 30px;
    border-radius: 50px;
}

.tab-content textarea.form-control {
    height: 100px !important;
    resize: none;
}

.tab-content .tab-pane {
    position: relative;
    /* overflow: hidden; */
}

.tab-content .tab-pane::before {
    content: "";
    position: absolute;
    right: 32%;
    top: 0;
    bottom: 0;
    border-right: 1px #ddd solid;
    height: 104%;
}

.tab-content .row {
    align-items: center;
}

.tab-content .form-group label {
    margin: 0;
}

.flex-input {
    display: flex;
    align-items: center;
}

.flex-input .form-control {
    width: 80%;
    margin-inline-end: 10px;
}

.flex-input .form-control+span {
    color: #999;
    font-weight: normal !important;
}

.tab-content .tab-pane#creat3::before,
.tab-content .tab-pane#creat4::before {
    right: 65%;
    height: 100% !important;
    opacity: 0;
}

.tab-content .tab-pane#creat3 {
    overflow: hidden;
    position: relative;
}

.tab-content .tab-pane#creat3 .form-group::after,
.tab-content .tab-pane#creat4 .form-group::after {
    content: "";
    position: absolute;
    right: 66%;
    top: 0;
    bottom: 0;
    border-right: 1px #ddd solid;
    height: 100%;
}

.tab-content .tab-pane#creat3 .form-group {
    position: relative;
    overflow: hidden;
    overflow: hidden;
}

.tab-content .tab-pane#creat3 .form-group:last-child::after {
    opacity: 0;
}

.tab-content .btn {
    background: #009BA5;
    margin: 0;
    border-radius: 2px;
    border: 1px #009BA5 solid;
    color: #fff;
    transition: all .5s;
    padding: 5px 15px;
    font-size: 11px !important;
}

.tab-content .tab-pane#creat4 .form-group::after {
    right: 33%;
    height: 100%;
}

.tab-content #creat4 .form-group {
    overflow: hidden;
    position: relative;
}

.tab-content #creat4 .row:last-child::after {
    opacity: 0;
}